body {
  width: 100%;
  box-sizing: border-box;
  background-color: #D7F7FB;
  margin: 0;
  padding: 0;
  display: flex;
  font-family: sans-serif;
}

/* MAIN CONTAINER  */
.container {
  width: 80%;
  height: 634px;
  margin: 4% auto;
  border-radius: 50px;
  background-color: #9DE7F0;
  display: grid;
  grid-template-columns: 60% 40%;
}

/* BLUE CONTAINER WITH GIFT IMAGES */
.baloons-img {
  width: 402px;
  padding-left: 20%;
  padding-top: 10%;
}

/* SIGN UP CONTAINER */
.main-left-box {
  padding: 60px 80px 40px 55px;
}

.signUp {
  font-size: 40px;
}

.phag {
  font-size: 15px;
}

.sMedia-logo {
  height: 45px;
  width: 70.50px;
  margin-right: 15px;
  background-color: #fff;
  border-radius: 50px;
  border: 1px solid #595959;
  cursor: pointer;
}

.btn-img {
  width: 35px;
  height: 35px;
}

.signUp-box {
  background-color: #fff;
  border-radius: 50px;
}

input {
  border: none;
  font-size: 15px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #9D9D9D;
}

.sign-btn {
  cursor: pointer;
  font-size: 15px;
  margin-top: 20px;
  color: #fff;
  border-radius: 50px;
  border: 0 solid #6BB7C5;
  padding: 10px;
  text-transform: uppercase;
  background-color: #6BB7C5;
}

.logIn-link {
  text-decoration: none;
  color: #6BB7C5;
  margin-left: 10px;
}

.light-gray {
  color: #9D9D9D;
}

.dark-gray {
  color: #595959;
}

.logo-img {
  width: 71px;
}
